/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(217, 224, 230);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("79f735bdc978bb91c3459899cad1a99a.jpg");
    

}